# Functions in Python

### Functions

In [1]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [2]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)

In [4]:
# Call the function add()

add(1)

1 if you add one 2

2

In [5]:
# Call the function add()

add(2)

2 if you add one 3

3

In [6]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)

In [8]:
# Use mult() multiply two integers

Mult(2, 3)

6

In [9]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [11]:
# Use mult() multiply two different type values together

Mult(2, " Michael Jackson")

' Michael Jackson Michael Jackson'

### Variables

In [12]:
# Function Definition

def square(a):
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c)
    return(c)

In [13]:
# Initializes Global variable

x = 3
# Make function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [14]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

In [15]:
# Define function, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [16]:
# See the output

MJ()

Michael Jackson

In [17]:
# See the output

MJ1()

Michael Jackson

In [18]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [19]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [20]:
# Test on the con() function

con("This ", "is")

'This is'

### Functions make things simple

### Block 1:

In [22]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0
else:
    c1 = 5
c1

48

### Block2

In [25]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0
else:
    c2 = 5
c2

0

In [26]:
# Make a function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0
    else:
        c = 5
    return(c)

### Block3

In [27]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1 )
c1

5

### Block4

In [28]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

### Pre-defined fuctions

In [29]:
# Build - in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [30]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

In [31]:
# Show the Length of the list or tuple

len(album_ratings)

8

### Using if/else Statements and Loops in Functions

In [32]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album('Michael jackson', 'Thriller', 1982)
print(x)

Michael jackson Thriller 1982
Modern

In [33]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [34]:
# Implement the printlist function

PrintList(['1', 1, 'the man', 'abc'])

1
1
the man
abc

### Setting default argument values in your custom functions

In [35]:
# Example for setting param with default value

def isGoodRating(rating=4):
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [36]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

### Global variables

In [37]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [38]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var
    internal_var = "Whitney Houston"
    print(artist, "is an artist")
    
printer(artist)
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

### Scope of a Variable

In [39]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0
    
print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [40]:
# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0
    
print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [41]:
# Example of global varaiable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0
    
print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is: 10.0
My favourite band is: AC/DC

### Quiz on Functions

In [43]:
# Come up with a function that divides the first input by the second input:

def div(a, b):
    return(a/b)

div(8, 4)

2.0

In [44]:
# Use the con function for the following question

def con(a, b):
    return (a + b)

con("Bhaskar", " Kuntimalla")

'Bhaskar Kuntimalla'

In [49]:
# Can the con function we defined before be used to add to integers or strings?
con(2, 2)

def con(a, b):
    return(a + b)

In [50]:
con(2, 2)

4

In [52]:
# Can the con function we defined before be used to concentrate a list or tuple?con(['a', 1],['b', 1])
con(['a', 1], ['b', 1])

def con(a, b):
    return(a + b)

In [53]:
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]