# Python - Writing Your First Python Code!

## Say "Hello" to the world in Python

In [56]:
#Try your first python output

print('Hello, World!')

Hello, World!

In [ ]:
<h3 id="version">What version of Python are we using?</h3>

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [ ]:
<h3 id="comments">Writing comments in Python</h3>

In [13]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
#print('Hi')

Hello, Python!

## Errors in Python

In [5]:
# Print string as error message

frint("Hello, World!")

NameError: name 'frint' is not defined

In [6]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-6-c10a1b330477>, line 1)

Does Python know about your error before it runs your code?

In [7]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

### Exercise: Your First Program

In [8]:
# In the code cell below, use the print() function to print out the phrase: Hello, world!

print('Hello, World!')

Hello, World!

In [9]:
# Now, let's enhance your code with a comment. In the code cell below, print out the phrase: Hello, world! and 
# comment it with the phrase Print the traditional hello world all in one line of code.

print("Hello, World!") #Print the traditional hello world

Hello, World!

## Types of objects in Python

In [10]:
# Integer

11

11

In [11]:
# Float 

2.14

2.14

In [12]:
# String


"Hello, Python 101!"

'Hello, Python 101!'

In [14]:
# Type of 12

type(12)

int

In [15]:
# Type of 2.14

type(2.14)

float

In [16]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [17]:
# In the code cell below, use the type() function to check the object type of 12.0.

type(12.0)

float

## Integers

In [18]:
# Print the type of -1

type(-1)

int

In [19]:
# Print the type of 4

type(4)

int

In [20]:
# Print the type of 0

type(0)

int

## Floats

In [21]:
# Sytem settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [22]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [23]:
# Print the type of 0.5

type(0.5)

float

In [24]:
# Print the type of 0.56

type(0.56)

float

In [25]:
# Verify that this is an integer

type(2)

int

## Converting from one object type to a different object type

In [26]:
# Convert 2 to a float

float(2)

2.0

### Converting integers to floats

In [27]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [28]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

### Converting from strings to integers or floats

In [29]:
# Convert a string into an integer

int('1')

1

In [30]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [31]:
# Convert the string "1.2" into a float

float('1.2')

1.2

### Converting numbers to strings

In [32]:
# Convert an integer to a string

str(1)

'1'

In [33]:
# Convert a float to a string

str(1.2)

'1.2'

## Boolean data type

In [34]:
# Value true

True

True

In [35]:
# Value false

False

False

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False

type(False)

bool

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

### Exercise: Types

In [42]:
# What is the data type of the result of: 6 / 2?

type(6/2)

float

In [43]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)

type(6//2)

int

## Expression and Variables

### Expression

In [44]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [45]:
# Subtraction operation expression

50 - 60

-10

In [46]:
# Multiplication operation expression

5 * 5

25

In [47]:
# Division operation expression

25 / 5

5.0

In [48]:
# Division operation expression

25 / 6

4.166666666666667

In [49]:
# Integer division operation expression

25 // 5

5

In [50]:
# Integer division operation expression

25 // 6

4

### Exercise: Expression

In [53]:
# Let's write an expression that calculates how many hours there are in 160 minutes:

160/60

# or

#160//60

2.6666666666666665

In [54]:
# Mathematical expression

30 + 2 * 60

150

In [55]:
# Mathematical expression

(30 + 2) * 60

1920

### Variables

In [58]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [59]:
# Print out the value into variable

x

160

In [60]:
# Use another variable to store the result of the operation between variable

y = x / 60
y

2.6666666666666665

In [61]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [62]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [63]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total Length of albums in hours
total_hours

2.3666666666666667

In [64]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60 # Total hours in a single expression
total_hours

2.3666666666666667

### Exercise: Expression and Variables in Python

In [65]:
# What is the value of x where x = 3 + 2 * 2

x = 3 + 2 * 2
x

7

In [66]:
# What is the value of y where y = (3 + 2) * 2?

y = (3 + 2) * 2
y

10

In [68]:
# What is the value of z where z = x + y?

z = x + y
z

17